@model Category
<h1>Add New Category</h1>
<form method="post">
    <label>Category Name</label>
    <input type="text" asp-for=@Model.CategoryName/>
    <span class= "text-danger" asp-validation-for=@Model.CategoryName></span>
    <label>Description</label>
    <input type="text" asp-for=@Model.Description/>
    <button type="submit">Submit</button>
</form>